* {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 3px 0;
}

.button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0;
  width: 100%;
  height: 24px;
  color: #1A1A1A;
  font-size: 13px;
  padding: 0 16px;
  text-align: left;
  font-weight: 400;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.button:hover {
  background-color: #EEEEEE;
}

.button:active {
  box-shadow: inset 0 1px #DFDFDF;
  background-color: #E6E6E6;
}

.text {
  flex-grow: 1;
  margin-right: 16px;
}

.shortcut {
  color: #7F7F7F;
  float: right;
  justify-content: flex-end;
}

table {
  position: relative;
  right: -5px;
  border-collapse: collapse;
}

table td {
  text-align: center;
  padding: 0;
  width: 14px;
}

td:last-child {
  padding-left: 2px;
  text-align: left;
}
