* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 3px 0 3px 0;
  width: 68px;
}

.button {
  position: relative;
  display: inline-block;
  background-color: #FCFCFC;
  border: 0;
  width: 100%;
  color: #1A1A1A;
  font-family: sans-serif;
  font-size: 13px;
  padding: 5px 13px 5px 13px;
  text-align: left;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.button:hover {
  background-color: #EBEBEC;
}

.button:active {
  background-color: #E0E0E0;
}
