{% load filters %}

<li class="item">
    <input form="edit_multiple_form" name="check_mark" type="checkbox" class="edit_checkbox" value="{{ mark.id }}">
    {% if mark.description %}
    <span class="action"><a mark_id="{{ mark.id }}" class="info_btn" href="#" title="{{ mark.date_added }}">[+]</a></span>
    {% endif %}
    {% if mark.url %}
    <a href="{{ mark.url }}">{{ mark.name }}</a>
    {% else %}
    <span>{{ mark.name }}</span>
    {% endif %}
    {% for tag in mark.tags.all %}
    <span class="tag">
	{% if tag.name %}
        {% if not search and tag.name not in tags %}
        <a class="action"
           href="{% url 'user_tag' slug=tags|add_tag:tag.name username=username %}">+</a>
        {% endif %}
        <a href="{% url 'user_tag' slug=tag.name username=username %}">{{ tag.name }}</a>
	{% endif %}
    </span>
    {% endfor %}
    <span class="separator">&#183;</span>
    <label for="show{{ mark.id }}" class="inline"><span class="action inline">actions</span></label>
    <input id="show{{ mark.id }}" type=checkbox class="show-actions-checkbox">
    <div class="actions">
      {% if user.is_authenticated and user.username == username %}
      <span class="action"><a mark_id="{{ mark.id }}" class="edit_btn" href="#">edit</a></span>
      <span class="action"><a mark_id="{{ mark.id }}" class="delete_btn" href="#">delete</a></span>
      <span class="action"><a mark_id="{{ mark.id }}" class="bump_btn" href="#">bump</a></span>
      {% endif %}
      <span class="action"><a href="{% url 'mark_permalink' username=username id=mark.id %}">permalink</a></span>
    </div>
    {% if mark.description %}
    <div class="description-container" mark_id="{{ mark.id }}">
        <div class="triangle"></div>
        <div class="description">
            {{ mark.description|markdown|safe }}
        </div>
    </div>
    {% endif %}
</li>
