{% extends "base.html" %}

{% block page_info %}
<span class="green-and-bold">
·
login
</span>
{% endblock %}

{% block content %}

    {% if not user.is_authenticated %}
        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        <div class="form-container">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password }}
        <input type="submit" value="Login" />
        </form>
        </div>
    {% else %}
        <p>Huh... You're already authenticated.</p>
    {% endif %}
{% endblock %}
