{% spaceless %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>bmarks</title>
        {% load static %}

        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/marksapp/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/marksapp/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/marksapp/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static '/marksapp/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static '/marksapp/favicon/safari-pinned-tab.svg' %}" color="#5baf68">
        <meta name="msapplication-TileColor" content="#5baf68">
        <meta name="theme-color" content="#5baf68">

        <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i" rel="stylesheet">
        <link rel="stylesheet" href="{% static '/marksapp/style.css' %}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49103022-2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-49103022-2');
        </script>
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li>
                    <a {% if page_title == "home" %} class="active" {% endif %} href="{% url 'index' %}">home
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a {% if page_title == "add" %} class="active" {% endif %} href="{% url 'add_mark' %}">
                        add
                    </a>
                </li>
                <li>
                    <a {% if page_title == "import" %} class="active" {% endif %} href="{% url 'import_netscape' %}">
                        import
                    </a>
                </li>
                <li>
                    <a {% if page_title == "guide" %} class="active" {% endif %} href="{% url 'guide' %}">
                        guide
                    </a>
                </li>
                <li>
                    <a {% if page_title == "profile" %} class="active" {% endif %} href="{% url 'user_profile' %}">
                        profile
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        logout
                    </a>
                </li>
                {% else %}
                <li>
                    <a {% if page_title == "register" %} class="active" {% endif %} href="{% url 'register' %}">
                        register
                    </a>
                </li>
                <li>
                    <a {% if page_title == "login" %} class="active" {% endif %} href="{% url 'login' %}">
                        login
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="container">

        <div id="page-info">
            <span class="green-and-bold">
                <a href="{% url 'index' %}">bmarks</a>
            </span>
            {% block page_info %}
            <span class="just-green">
            ·
                {% if user.is_authenticated %}
                    {% if user.username == username %}
                    <span class="italic">you</span>
                    {% else %}
                        {{ username }}
                    {% endif %}
                {% else %}
                    {{ username }}
                {% endif %}
            {% endblock %}
            </span>
        </div>

        {% block content %}
        {% endblock %}
        </div>

        <!--
        <div class="footer">
            <ul>
                <li>about</li>
            </ul>
        </div>
        -->

        <script src="{% static 'marksapp/js/jquery.min.js' %}"></script>

        <script type="text/javascript">
            $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
        </script>

        <script src="{% static 'marksapp/js/app.js' %}"></script>
    </body>
</html>
{% endspaceless %}
