{% extends "base.html" %}

{% block page_info %}
<span class="green-and-bold">
·
guide
</span>
{% endblock %}

{% block content %}
Welcome to Marks.
<h2>Importing</h2>
You can import your bookmarks from Chrome, Firefox, Safari, Opera, Internet Explorer, as long as they're in the Netscape bookmark format. Your directories will become tags automatically.
<h2>Private marks</h2>
<h2>Unlisted marks</h2>
<h2>Contact</h2>
Developed by felipecortezfi@gmail.com. If you need anything just send me an email.
{% endblock %}
