{% extends "base.html" %}

{% block content %}
<div id="suggestions"></div>

<div class="extra-nav">
    <a id="show-search" href="#">search</a>
    <span class="separator">·</span>
    <a href="{% url 'user_tag' username=username %}?sort=date">last</a>
    <span class="separator">·</span>
    <span>sorting by </span>
    {% if sort != "name" %}<a href="?sort=name">quantity</a>{% endif %}
    {% if sort != "quantity" %}<a href="?sort=quantity">name</a>{% endif %}
</div>

{% if user.is_authenticated %}
<form id="search-form" action="{% url 'user_tag' username=username %}" method="GET">
    <div class="form-container">
    <tr>
        <th>
            <label for="id_search_title">Title</label>
        </th>
        <td>
            <input id="id_search_title" name="search_title" type="text" />
        </td>
    </tr>
    <tr>
        <th>
            <label for="id_tags">Tags</label>
        </th>
        <td>
            <input autocomplete="off" id="id_tags" name="search_tags" type="text" class="tag_field" />
        </td>
    </tr>
    <tr>
        <th>
            <label for="id_search_description">Description</label>
        </th>
        <td>
            <input autocomplete="off" id="id_search_description" name="search_description" type="text" />
        </td>
    </tr>
    <input type="submit" value="Search" />
    </div>
</form>
{% endif %}


<ul id="tags">
    <li class="item">
        <a href="{% url 'user_tag' username=username %}">all</a><span class="number">{{ all }}</span>
    </li>

    {% for tag in tags %}
    <li class="item">
        <a class="tag_name" href="{% url 'user_tag' slug=tag.name username=username %}">{{ tag.name }}</a>
        <span class="number">{{ tag.num_marks }}</span>
    </li>
    {% endfor %}
</ul>

{% endblock %}
