{% extends "base.html" %}
{% load filters %}

{% block page_info %}
    <span class="green-and-bold">
    ·
    <a href="{% url 'user_index' username=username %}">{{ username }}</a>
    {% if tags %}
    ·
    {% endif %}
    </span>
    {% for tag in tags %}
        <span class="tag">
            {% if tags|length > 1 %}
            <a class="action" href="{% url 'user_tag' slug=tags|remove_tag:tag username=username %}">x</a>
            {% else %}
            <a class="action" href="{% url 'user_index' username=username %}">x</a>
            {% endif %}
            <a href="#">{{ tag }}</a>
        </span>
        {% if not forloop.last %}
            <span class="plus">&</span>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
<div id="suggestions"></div>
<div class="extra-nav">
    <!--
        <a id="show-search" href="#">search</a>
        <span class="separator">·</span>
        <a href="{% url 'user_tag' username=username %}?sort=date&limit=100">last</a>
        <span class="separator">·</span>
    -->
    <span>sorting by </span>
    {% if sort != "name" %}<a href="?sort=name">date</a>{% endif %}
    {% if sort != "date" %}<a href="?sort=date">name</a>{% endif %}
    <span class="separator">·</span>
    <a href="#" class="expand_all_btn">expand all</a>
    <span class="separator">·</span>
    <a href="#" class="collapse_all">collapse all</a>
</div>

<ul class="links">
{% if marks %}
{% for mark in marks %}
{% include "mark.html" %}
{% endfor %}
{% else %}
<p>No results found.</p>
{% endif %}
</ul>

<ul id="marks">
    {% for tag in tag_count %}
    {% if tag.name not in tags %}
    <li class="item">
    <span class="tag">
        <a class="action" href="{% url 'user_tag' slug=tags|add_tag:tag.name username=username %}">+</a>
        <a class="tag_name" href="{% url 'user_tag' slug=tag.name username=username %}">{{ tag.name }}</a>
    </span>
    <span class="number">{{ tag.num_marks }}</span>
    </li>
    {% endif %}
    {% endfor %}

</ul>

{% comment %}
<form id="bulk_form" action="/felipecortez/bulk/" method="POST">
    <label for="form_tags">Change tags</label>
    <input id="form_tags" name="tags" type="text">
    <input type="submit" value="Change">
</form>
{% endcomment %}

{% endblock %}
